{% extends "template.html" %}
{% block content %}

<style type="text/css">
    .btp {
        border: 1px solid green;
        border-radius: 8px;
        z-index: 70;
        overflow: visible;
    }
</style>
            <br>
            <br>
    <div class="row">
    <div class="col s12 m4">
        <div class="white-text">
            <br>
        </div>
    </div>



    <div class="col s12 m4 btp">
        <div>
            <h5 class="center">About</h5>
            I am just one of you, fellow sufferers.
            Dysfunctional thought record plays such an important role in handling anxiety. I found it a good tool but didnt find any good online tools for it
            so i decided to make one. Hope is helps all of you in your fight with anxiety. <br>
                    <br>
            <br>-- Nikit Phadke, Founder.
                    <br>
            <br>

        </div>
    </div>


    <div class="col s12 m4">
        <div class="white-text">
            <br>
        </div>
    </div>


</div>





{% endblock %}