{% extends "template.html" %}
{% block style %}
    <style>


    </style>

{% endblock %}

{% macro add_question(question, value, numb) %}

        <br>

    <div class="switch">
        {{ numb }} - {{ question }}
        <label>
            No
            <input type="checkbox" name="question{{ numb }}" value="{{ value }}">
            <span class="lever"></span>
            Yes
        </label>
    </div>
    <br>


{% endmacro %}


{% block content %}

    <div class="container">
        <div class="section">


            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m2">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>


                <div class="col s12 m8 btp">
                    <div class="icon-block">
                        <div>
                            <h5 class="center">Depression Questionnaire</h5>
                            Instructions : Please review 25 questions from the Burn’s Depression Checklist below and
                            mark the correct
                            answer, indicating on how much you have experienced the described symptom during the weekly
                            timeframe, including today. Do not hurry to fill the responses, but try to avoid fixation on
                            each individual question, answering honestly and without internal efforts. Answer all
                            questions.
                            <br>
                            <br>

                            <form action="/changei" method="post">
                                {% for key, value in keym.iteritems() %}

                                    {{ add_question(key, value, loop.index) }}

                                {% endfor %}




                                <div class="row center">
                                    <button class="btn white black-text"
                                            type="submit" style="margin-bottom: -55px"
                                            >Submit
                                        <i class="material-icons right blue-text">send</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}