{% extends "template.html" %}
{% block content %}

<style type="text/css">
    .btp {
        border: 1px solid green;
        border-radius: 8px;
        z-index: 70;
        overflow: visible;
    }
</style>
            <br>
            <br>
    <div class="row">
    <div class="col s12 m4">
        <div class="white-text">
            <br>
        </div>
    </div>



    <div class="col s12 m4 btp">
        <div>
            <h5 class="center">Disclaimer</h5>
            The medical information on this site is provided as an information resource only, and is not to
                        be used or relied on for any diagnostic or treatment purposes. This information is not intended
                        to be patient education, does not create any patient-physician relationship, and should not be
                        used as a substitute for professional diagnosis and treatment.

                        Please consult your health care provider before making any healthcare decisions or for guidance
                        about a specific medical condition. Narayana expressly disclaims responsibility, and shall have
                        no liability, for any damages, loss, injury, or liability whatsoever suffered as a result of
                        your reliance on the information contained in this site. Narayana
                        does not endorse specifically any test, treatment, or procedure mentioned
                        on the site.

                        By visiting this site you agree to the foregoing terms and conditions, which may from time to
                        time be changed or supplemented by Narayana.
            <br>
            <br>

        </div>
    </div>


    <div class="col s12 m4">
        <div class="white-text">
            <br>
        </div>
    </div>


</div>





{% endblock %}