{% extends "template.html" %}

{% block script %}
        <script>

      $(document).ready(function() {
    $('select').material_select();
                $(".button-collapse").sideNav();
            $("#modal1").openModal({      opacity: 0 // Opacity of modal background
});


  });

    </script>

{% endblock %}
{% block content %}

<style type="text/css">
    .btp {
        border: 1px solid green;
        border-radius: 8px;
        z-index: 70;
        overflow: visible;
    }
</style>
    <div class="row">
    <div class="col s12 m3">
        <div class="white-text">
            <br>
        </div>
    </div>

    <div class="col s12 m6" style="z-index: 6">
        <div class="video-container">
            <iframe width="640" height="360"
                    src="https://www.youtube.com/embed/aYrlVrUlgik?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>


    <div class="col s12 m3">
        <div class="white-text">
            <br>
        </div>
    </div>


</div>


<div class="row">
    <div class="col s12 m2">
        <div class="icon-block">
            <br>
        </div>
    </div>

    <div class="col s12 m8 btp">
        <h5>Hi you. Hello from Naryna!</h5>
        Naryna is a CBT tool to capture your cognitive distortions. We aim to utilize the latest advancements in Data science and machine learning along with a little bit of crowdsourcing magic
        to automatically refute your negative thoughts and cognitive distortions. We also provide a depression tracking tool to keep a track of various aspects of depression over time.
        <br>
        <br>

        <div class="center" style="margin-bottom: -20px">
            <a href="/hiw" class="btn white black-text z-depth-1 center">Learn More</a>
        </div>

    </div>


    <div class="col s12 m2">
        <div class="icon-block center">
            <br>
            <br>
            <br>

        </div>
    </div>


</div>

    <div id="modal1" class="modal grey lighten-3" style="z-index: 1005;">
    <div class="modal-content">
      <h5 class="center">Important Update</h5>
      <p>Nov 2015 : Naryna will soon be acqu-hire-merging. Beginning Jan 2016, Naryna as an entity will shut down. New signups will be closed by the end of next month.
      The service will however remain operational through 2017 for existing users. Bug fixes will be suspended from Jan 2016.
      We remain committed to releasing our iOS app but it will now probably see the light of the day through one of our individual
      contributors and with only offline functionality. It will still hold the moniker Naryna. We *may* open source a limited part of our codebase.</p>
        <p> But Why? : We started Naryna to help people with depression. We were just not able to expand enough to help people at a
            scale we wanted to. But suffice it to say that Naryna will live on as a part of a much grander and magnificent company which
            prefers to remain in stealth at the moment. Thank you for your love and support. -- Naryna Team.

        </p>

        <p>Update, Oct 2016 : As promised, one of our Founder & Individual contributors (Nikit Phadke) has released the iphone app.
            It's very basic, doesn't have any ML jazz and mostly offline. Hope it helps some of you.
</p>


    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>


{% endblock %}